[Desktop Entry]
Comment=Sweet-Cat_Animated

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Sweet-Cat_Animated

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Name=Sweet-Cat_Animated
X-KDE-PluginInfo-Author=creativity
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-MainScript=defaults 
